 * {
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: radial-gradient(circle at top left, #3d1b7a, #140533);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.scene {
    position: relative;
    width: 600px;
    height: 600px;
}


.stairs {
    position: absolute;
    top: -140px;
    left: 90px;
}

.step {
    position: relative;
    width: 320px;
    height: 50px;
    margin-bottom: 3px;
}

.step .top {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #00d2ff, #2563eb);
}

.step .front {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 45px;
    background: linear-gradient(to bottom, #0369a1, #1d4ed8);
}

.l01 { transform: translate(0px, 0px); z-index: 30; }
.l02 { transform: translate(-17px, 17px); z-index: 29; }
.l03 { transform: translate(-34px, 34px); z-index: 28; }
.l04 { transform: translate(-51px, 51px); z-index: 27; }
.l05 { transform: translate(-68px, 68px); z-index: 26; }
.l1 { transform: translate(-85px, 85px); z-index: 25; }
.l2 { transform: translate(-120px, 120px); z-index: 24; }
.l3 { transform: translate(-155px, 155px); z-index: 23; }
.l4 { transform: translate(-190px, 190px); z-index: 22; }
.l5 { transform: translate(-225px, 225px); z-index: 21; }
.l6 { transform: translate(-260px, 260px); z-index: 20; }
.l7 { transform: translate(-295px, 295px); z-index: 19; }
.l8 { transform: translate(-330px, 330px); z-index: 18; }
.l9 { transform: translate(-365px, 365px); z-index: 17; }
.l10 { transform: translate(-400px, 400px); z-index: 16; }
.l11 { transform: translate(-435px, 435px); z-index: 15; }
.l12 { transform: translate(-470px, 470px); z-index: 14; }
.l13 { transform: translate(-505px, 505px); z-index: 13; }
.l14 { transform: translate(-540px, 540px); z-index: 12; }
.l15 { transform: translate(-575px, 575px); z-index: 11; }
.l16 { transform: translate(-610px, 610px); z-index: 10; }
.l17 { transform: translate(-645px, 645px); z-index: 9; }
.l18 { transform: translate(-680px, 680px); z-index: 8; }
.l19 { transform: translate(-715px, 715px); z-index: 7; }
.l20 { transform: translate(-750px, 750px); z-index: 6; }


.ball-container {
    position: absolute;
    top: 600px;
    left: 100px;
    z-index: 50;
}

.ball-visual {
    width: 65px;
    height: 65px;
    background: radial-gradient(circle at 30% 30%, #ff66b3, #ff0055);
    border-radius: 50%;
}


.shadow {
    position: absolute;
    top: 325px;
    left: 175px;
    width: 55px;
    height: 15px;
    border-radius: 50%;
    background: black;
    filter: blur(4px);
}